{% extends "base.html" %}

{% block content %}
   

    {% if posts|length == 0 %}
    <p>No posts added</p>
    {% else %}

        
            {% for post in posts %}
            <label>
             <a href='/post?id={{post.id}}'><h1> Title: {{post.name}}</h1></a>


             </label>
            <div>
                <form method="POST" action="/delete-post" style="display:inline-block;">
                    <input type="hidden" name="post-id" value="{{post.id}}" >
                    
                    
                </form>
            </div>
            <label>
                <h1>Body: </h1> <p>{{post.body}}</p>
            </label>
            <div>
                    <form method="POST" action="/delete-post" style="display:inline-block;">
                        <input type="hidden" name="post-id" value="{{post.id}}" >
                        
                        
                    </form>
            </div>
            


            
            {% endfor %}
        

    {% endif %}

    <hr />

    

   

{% endblock %}